.top {
	width: 100%;
	height: 50px;
	background-color: pink;
	margin-bottom: 10px;
	border: 1px solid red;

}


.wrapper {
	height: 570px;
	padding-top: 8px;
	background-color: #D0FF00;
	font-size: 14pt;
	border: 5px inset #5555FF;
}

.main {
	height: 540px;
	margin-left: 20px;
	margin-right: 30px;
	background-color: #FFDD00;
	display: block;
	border: 3px groove #D67DFF;
}

.child1 {
	width: 30%;
	height: 200px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	background-color: #FF00AE;
	border: 2px double green;
	text-align: justify;
	overflow: hidden;
	font-family: Times;
	font-size: 1.2em;
	color: red;

}
.child2 {
	width: 50%;
	height: 10%;
	margin-top: 40px;
	margin-left: 30px;
	background-color: #00FFA9;
	border: 2px dotted black;
	text-align: justify;
	overflow: visible;
	font-family: Arial;
	font-size: 1.2em;
	color:blue;

}

.child3 {

	width: 70%;
	height: 15%;
	margin-left: 30px;
	margin-top: 70px;
	background-color: #3AE2CE;
	border: 1px solid white;
	font-family: Times;
	font-size: 0.6em;
}