.wrapper {
	width: 75%;
	height: 600px;
	margin: 10px auto;
	background-color: pink;
}

.first_b {
	width: 200px;
	height: 15%;
	background-color: yellow;
	float: left;
	margin-right: 10px;

}

.sec_b {
	width: 320px;
	height: 25%;
	background-color: blue;
	float: left;
	margin-right: 10px;

}

.third_b {
	width: 120px;
	height: 40%;
	background-color: green;
	float: left;
	margin-right: 10px;

}

.forth_b {
	width: 350px;
	height: 20%;
	background-color: red;
	float: left;
	margin-right: 10px;

}

.fifth_b {
		width: 150px;
	height: 20%;
	background-color: maroon;
	float: left;
	margin-right: 10px;

}